- name: Set PHP version (only if not provided)
  ansible.builtin.set_fact:
    php_version: "{{ lookup('php_version', moodle_version=moodle_version) }}"
  when: php_version is not defined

- name: Install PHP via geerlingguy.php (modules + INI equivalents)
  ansible.builtin.include_role:
    name: geerlingguy.php
    apply:
      become: true
  vars:
    php_ppa: "ppa:ondrej/php"
    php_enable_webserver: false
    php_version: "{{ php_version }}" # e.g. 8.4
    php_use_managed_ini: true
    php_max_input_vars: 5000 # php_ini_cli + php_ini_fpm: max_input_vars
    php_file_uploads: "On" # php_ini_fpm: file_uploads
    php_opcache_enable: 1 # php_ini_fpm: opcache.enable
    php_packages_extra: # php_mod_enabled mapped to Ubuntu packages
      - "php{{ php_version }}-fpm" # fpm
      - "php{{ php_version }}-cli"
      - "php{{ php_version }}-curl" # curl
      - "php{{ php_version }}-gd" # gd
      - "php{{ php_version }}-intl" # intl
      - "php{{ php_version }}-mbstring" # mbstring
      - "php{{ php_version }}-xml" # dom, xml, xmlreader
      - "php{{ php_version }}-zip" # zip
      - "php{{ php_version }}-tidy" # tidy
      - "php{{ php_version }}-exif" # exif
      # Pick ONE DB driver to match your DB:
      - "php{{ php_version }}-pgsql" # pgsql
      # - "php{{ php_version }}-mysql"     # mysql

- name: Start PHP service
  become: true
  ansible.builtin.sysvinit:
    name: "php{{ php_version }}-fpm"
    state: started
    enabled: true
